.boxes{
    height: 100px;
    width: 100px;
   text-align: center;
   line-height: center;
   color: white;
   margin: 3px;
}

.mybox-fizz{
    background-color: blue;
}

.mybox-buzz{
    background-color: chartreuse;
}

.mybox-fizzbuzz{
    background-color: orange;
}

.mybox-number{
    background-color: gray;
}
