.boxes{
    /* height: 100px;
    width: 100px; */
    padding: 5px;
    border: 1px solid red;
}

.mybox-fizz{
    background-color: blue;
}

.mybox-buzz{
    background-color: chartreuse;
}

.mybox-fizzbuzz{
    background-color: orange;
}

